@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common features */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;

}
nav{
    margin-left: 36px;
    margin-top: 124px;
    width: 185px;
    height: 100vh;
}
header{
    width: 22%;
    height: 100%;
    background-color:rgb(246, 66, 52);
    position: fixed;
}
#complany-name h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: white;
}
.menu ul{
    margin-left: 0px;
    padding-left: 0px;
}
.menu ul li{
    list-style: none;
    margin-bottom: 11px;
}
.menu ul li a:hover{
    background-color: white;
    color: black;
    padding: 10px 172px 8px 17px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: white;
}

main{
    width: 68%;
    background-color: white;
    flex-grow: 1;
    margin-left: 27%;
    margin-right: 5%;
}
.main-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    color: black;
    margin-top: 100px;
    margin-bottom: 15px;
}
.main-title-caption{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: rgb(244, 67, 54);
    margin-top: 0px;
    margin-bottom: 17px;
}
hr{
    border: 4px solid rgb(254, 0, 0);
    width: 46px;
    height: 0px;
    position: relative;
    left: -432px;
    border-radius: 14px;
    margin-bottom: 35px;

}
.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 16px;
}

.photo img{
    height:255px;
    width:460px;
    opacity: 0.8;
}
.unique-sized img{
    height:380px;
    width:460px;
    opacity: 0.8;
}
.photo img:hover{
    opacity: 1;
}
#bolder-font{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.designers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 43px;

}
.designer{
    background-color:rgb(241, 241, 241);
    width: 108%;
}
.designer img{
    width: 100%;
    height: 200px;
}
.designer-details{
    padding-left: 5px;
}
.designer-name{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.designer-position{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.designer-about{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input{
    width: 100%;
    height: 35px;
    margin-bottom: 12px;
}
form p{
    margin-top: 0px;
    margin-bottom: 0px;
}
button{
    width: 100%;
    height: 40px;
    background-color: rgb(243,68,53);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 0;
}
footer p{
    text-align: center;
    margin-left: 273px;
}

@media only screen and (max-width: 688px) {
    .container{
        flex-wrap: wrap;
    }
    header{
        display: none;
    }
    main section{
        width: 100%;
        margin-left: -95px;
    }
    .main-title{
        margin-top: 7px;
        line-height: 60px;
        margin-bottom: 50px;
    }
    .sm-section{
        margin-left: -14px;
    }
    .photos, .designers{
        grid-template-columns: repeat(1,1fr);

    }

}